<h1>This is the secret page!</h1>
<p>You found me!</p>
<img src="https://cdn.shopify.com/s/files/1/0169/6995/7440/products/E84005L00_Disney_Princess_Style_Series_Mulan_Doll_02_1024x1024.jpg?v=1564670027">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>